<a href="https://colab.research.google.com/github/Akshuth/SE_task2/blob/main/TASK2_SE_2130.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input("Enter student name: ")
marks = []

for i in range(5):
    m = int(input(f"Enter marks for subject {i+1}: "))
    marks.append(m)

total = sum(marks)
average = total / 5

if average >= 90:
    grade = "A"
elif average >= 75:
    grade = "B"
elif average >= 60:
    grade = "C"
else:
    grade = "D"

print("\nStudent:", name)
print("Total Marks:", total)
print("Average:", average)
print("Grade:", grade)

Enter student name: Akshuth
Enter marks for subject 1: 90
Enter marks for subject 2: 89
Enter marks for subject 3: 78
Enter marks for subject 4: 76
Enter marks for subject 5: 77

Student: Akshuth
Total Marks: 410
Average: 82.0
Grade: B

In [ ]:
name = input("Enter your name: ")
print("Hello,", name)

Enter your name: Akshuth
Hello, Akshuth

In [ ]:
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
print("Addition:", x + y)

Enter first number: 2
Enter second number: 5
Addition: 7

In [ ]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 5
Odd

In [ ]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))
print("Maximum is:", max(a, b))

Enter a: 20
Enter b: 45
Maximum is: 45

In [ ]:
for i in range(1, 30):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [ ]:
numbers = [1, 2, 3, 4, 5]
print("Sum:", sum(numbers))

Sum: 15

In [ ]:
def add(a, b):
    return a + b

print(add(3, 4))

7

In [ ]:
n = int(input("Enter a number: "))
fact = 1
for i in range(1, n + 1):
    fact *= i
print("Factorial:", fact)

Enter a number: 10
Factorial: 3628800

In [ ]:
try:
    x = int(input("Enter a number: "))
    print(10 / x)
except ZeroDivisionError:
    print("Cannot divide by zero")
except ValueError:
    print("Invalid input")

Enter a number: 10
1.0

In [ ]:
with open("students.txt", "w") as file:
    for i in range(3):
        name = input("Enter name: ")
        age = input("Enter age: ")
        file.write(f"{name},{age}\n")

print("Student data saved successfully.")

Enter name: Akshuth
Enter age: 20
Enter name: Shiva
Enter age: 20
Enter name: Hari
Enter age: 30
Student data saved successfully.

In [ ]:
import random

secret = random.randint(1, 20)
attempts = 0

while True:
    guess = int(input("Guess a number (1–20): "))
    attempts += 1

    if guess < secret:
        print("Too low!")
    elif guess > secret:
        print("Too high!")
    else:
        print("Correct! Attempts:", attempts)
        break

Guess a number (1–20): 7
Too low!
Guess a number (1–20): 18
Too high!
Guess a number (1–20): 10
Too low!
Guess a number (1–20): 13
Correct! Attempts: 4

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

largest = max(a, b, c)
print("Largest number is:", largest)

Enter first number: 12
Enter second number: 55
Enter third number: 76
Largest number is: 76

In [ ]:
num = int(input("Enter a number: "))
print("Square =", num * num)

Enter a number: 22
Square = 484

In [ ]:
text = input("Enter a string: ")
print("Number of characters:", len(text))

Enter a string: software
Number of characters: 8

In [ ]:
num = int(input("Enter a number: "))

if num > 0:
    print("Positive number")
elif num < 0:
    print("Negative number")
else:
    print("Zero")

Enter a number: 40
Positive number